<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        User
      </div>
      <div class="col-sm">
        Content
      </div>
    </div>
  </div>


  

  <tbody>
    <div class="container">
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user_id %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
